<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css"/>
    <meta charset="UTF-8"/>
    <title><%= title %></title>
</head>
<body>
<div class="login-page">
    <div class="form">
        <form class="login-form" method="post" action="/">
            <input type="text" placeholder="보호자 전화번호" name="receiver"/>
            <input type="text" placeholder="사용자 전화번호" name="caller"/>
            <button>정보 확인</button>
        </form>
    </div>
</div>
</body>
</html>